.loader {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 999;
}
.container {
  .message-table {
    margin-top: 2rem;
  }

  .add-content {
    margin-top: 4rem;

    .btn {
      background: #c7c7c7;
      color: black;
      padding: 1.5rem 2rem;
      border-radius: 9px;
    }
  }
}
